/* src/sobreEmpresa.css */

/* Banner Original */
#sobre .banner {
    text-align: center;
    padding: 20px 30px;
    margin: 0 auto 40px auto;
    max-width: fit-content;
    border: 3px solid var(--detalhe);
    border-radius: 4px;
}

/* Área de texto */
.conteudo-descritivo {
    max-width: 950px; 
    margin: 0 auto;
    line-height: 1.8;
}

/* Títulos: Formatação padronizada (Cor, Fonte, Borda Lateral) */
.conteudo-descritivo h2 {
    color: var(--primaria);
    margin: 45px 0 20px 0; 
    font-size: 2.2rem;
    font-weight: 700;
    border-left: 8px solid var(--detalhe);
    padding-left: 20px;
}

/* Parágrafos: Formatação padronizada */
.conteudo-descritivo p {
    font-size: 1.4rem;
    color: var(--texto);
    text-align: justify;
    margin-bottom: 25px; /* Espaço entre o texto e a imagem abaixo dele */
    text-indent: 3em;
}

/* Blocos de conteúdo */
.bloco-anuncio {
    width: 100%;
    margin-top: 40px; /* Espaço extra antes de começar um novo título */
}

/* Imagens */
.img-sobre-projeto {
    width: 100%;
    max-width: 950px; 
    height: auto;
    border: 3px solid var(--detalhe);
    border-radius: 4px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    
    display: block; /* Garante que a imagem ocupe a linha toda */
    margin-top: 10px; /* Pequeno ajuste extra para desgrudar do parágrafo */
    margin-bottom: 50px; /* Espaço no final do bloco antes do próximo título */
}